* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 2rem;
    padding: 6rem;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;

}
span{
  color: brown;
  font-weight: bolder;
}
.padre{
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: rgb(255, 168, 155);
}
.hijo{
  width: 250px;
  height: 250px;
  background-color: brown;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 6rem;
  color: white;
}